@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

.priv{
    background-color: #F4F9F3;
    border-radius: 25px;
    padding: 50px 30px 50px 30px;
    margin: 260px 15% 50px 15%;
    box-shadow: -1px 2px 2px grey;
}

.priv h2{
    text-align: center;
    color: #638363;
}

.privacidade{
    margin: 5% 30% 10% 30%;
    text-align: justify;
}

.indice{
    font-weight: bold;
}

@media screen and (max-width: 1200px){
    .priv{
        margin-top: 200px;
    }
}

@media screen and (max-width: 919px){
    .priv{
        margin-top: 200px;
    }

    .privacidade{
        margin: 5% 15% 10% 15%;
    }
}