.botao {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    color: black;
    background-color: #638363;
}

.botao:hover {
    color: #95FFD4
}
